article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    direction: ltr;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.675;
    font-weight: normal;
    font-style: normal;
    position: relative;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.15;
    margin: 0 0 15px 0;
}

p {
    margin: 0 0 15px 0;
}

a,
a:visited {
    color: #2ba6cb;
    text-decoration: none;
    line-height: inherit;
}

a:hover {
    color: #2795b6;
}

a:focus {
    color: #2795b6;
}

.alt-nav {
    display: none;
}

#nav {}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navigation li {
    position: relative;
    z-index: 100;
}

#navigation>li {
    float: left;
}

#navigation ul {
    position: absolute;
    z-index: 300;
    top: -999em;
}

#navigation ul ul {}

#navigation li:hover>ul,
#navigation .sfHover>ul {
    top: auto;
}

#navigation li li:hover>ul,
#navigation li .sfHover>ul {
    top: 0;
    left: 100%;
}

#navigation li li li:hover>ul,
#navigation li li .sfHover>ul {
    top: 0;
    left: 100%;
}

#navigation a,
#navigation a:visited {
    display: block;
    white-space: nowrap;
}

#googlemap img,
object,
embed,
#map embed,
#map img,
#map object {
    max-width: none!important;
}

ul,
ol,
dl {
    margin: 0 0 15px 25px;
    list-style-position: outside;
}

ul li ul,
ul li ol {
    margin-left: 20px;
    margin-bottom: 0;
}

ul.square,
ul.circle,
ul.disc {
    margin-left: 17px;
}

ul.square {
    list-style-type: square;
}

ul.square li ul {
    list-style: inherit;
}

ul.circle {
    list-style-type: circle;
}

ul.circle li ul {
    list-style: inherit;
}

ul.disc {
    list-style-type: disc;
}

ul.disc li ul {
    list-style: inherit;
}

ul.no-bullet {
    list-style: none;
}

ul.large li {
    line-height: 21px;
}

ol li ul,
ol li ol {
    margin-left: 20px;
    margin-bottom: 0;
}

blockquote {
    margin: 0 0 17px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #dddddd;
}

blockquote cite {
    display: block;
    font-size: 13px;
}

blockquote cite:before {
    content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {}

abbr,
acronym {
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 1px solid #dddddd;
    cursor: help;
}

abbr {
    text-transform: none;
}

.row form .row {
    margin: 0 -6px;
}

.row form .row .column,
.row form .row .columns {
    padding: 0 6px;
}

label {
    cursor: pointer;
    display: block;
    font-weight: 500;
    margin-bottom: 3px;
}

label.right {
    float: none;
    text-align: right;
}

label.inline {
    line-height: 32px;
    margin: 0 0 12px 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    border-radius: 0;
    box-shadow: none;
    width: auto;
    font: inherit;
    padding: 9px 15px;
    height: auto;
    border: 1px solid #EFEFEF;
    line-height: normal;
    transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
    background: #fafafa;
    border-color: #b3b3b3;
    outline: none;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
    background-color: #ddd;
}

textarea {
    height: auto;
}

select {
    width: 100%;
}

fieldset {
    padding: 15px 15px 0 15px;
}

fieldset legend {
    font-weight: bold;
    padding: 0 3px;
    margin: 0;
    margin-left: -3px;
}

.row {
    width: 1280px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
}

.row.collapse .column,
.row.collapse .columns {
    padding: 0;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
}

.row .row.collapse {
    margin: 0;
}

.column,
.columns {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
}

.column.centered,
.columns.centered {
    float: none;
    margin: 0 auto;
}

[class*="column"]+[class*="column"].end {
    float: left;
}

.one,
.row .one {
    width: 8.33333%;
}

.two,
.row .two {
    width: 16.66667%;
}

.three,
.row .three {
    width: 25%;
}

.four,
.row .four {
    width: 33.33333%;
}

.five,
.row .five {
    width: 41.66667%;
}

.six,
.row .six {
    width: 50%;
}

.seven,
.row .seven {
    width: 58.33333%;
}

.eight,
.row .eight {
    width: 66.66667%;
}

.nine,
.row .nine {
    width: 75%;
}

.ten,
.row .ten {
    width: 83.33333%;
}

.eleven,
.row .eleven {
    width: 91.66667%;
}

.twelve,
.row .twelve {
    width: 100%;
}

.one-fifth,
.row .one-fifth {
    width: 20%;
}

.four-fifths,
.row .four-fifths {
    width: 80%;
}

.row .offset-by-one {
    margin-left: 8.33333%;
}

.row .offset-by-two {
    margin-left: 16.66667%;
}

.row .offset-by-three {
    margin-left: 25%;
}

.row .offset-by-four {
    margin-left: 33.33333%;
}

.row .offset-by-five {
    margin-left: 41.66667%;
}

.row .offset-by-six {
    margin-left: 50%;
}

.row .offset-by-seven {
    margin-left: 58.33333%;
}

.row .offset-by-eight {
    margin-left: 66.66667%;
}

.row .offset-by-nine {
    margin-left: 75%;
}

.row .offset-by-ten {
    margin-left: 83.33333%;
}

.row .offset-by-one-fifth {
    margin-left: 20%;
}

.row .offset-by-four-fifths {
    margin-left: 80%;
}

.push-two {
    left: 16.66667%;
}

.pull-two {
    right: 16.66667%;
}

.push-three {
    left: 25%;
}

.pull-three {
    right: 25%;
}

.push-four {
    left: 33.33333%;
}

.pull-four {
    right: 33.33333%;
}

.push-five {
    left: 41.66667%;
}

.pull-five {
    right: 41.66667%;
}

.push-six {
    left: 50%;
}

.pull-six {
    right: 50%;
}

.push-seven {
    left: 58.33333%;
}

.pull-seven {
    right: 58.33333%;
}

.push-eight {
    left: 66.66667%;
}

.pull-eight {
    right: 66.66667%;
}

.push-nine {
    left: 75%;
}

.pull-nine {
    right: 75%;
}

.push-ten {
    left: 83.33333%;
}

.pull-ten {
    right: 83.33333%;
}

.push-one-fifth {
    left: 20%;
}

.pull-one-fifth {
    right: 20%;
}

.push-four-fifths {
    left: 80%;
}

.pull-four-fifths {
    right: 20%;
}

img {
    height: auto;
}

img,
object,
embed {
    max-width: 100%;
}

img {
    -ms-interpolation-mode: bicubic;
}

.row,
.group {
    *zoom: 1;
}

.row:before,
.row:after,
.group:before,
.group:after {
    content: " ";
    display: table;
}

.row:after,
.group:after {
    clear: both;
}

.show-for-small,
.show-for-medium,
.show-for-medium-down,
.hide-for-large,
.hide-for-large-up,
.show-for-xlarge,
.show-for-print {
    display: none!important;
}

.hide-for-small,
.hide-for-medium,
.hide-for-medium-down,
.show-for-large,
.show-for-large-up,
.hide-for-xlarge,
.hide-for-print {
    display: inherit!important;
}

@media only screen and (min-width: 1441px) {
    .hide-for-small,
    .hide-for-medium,
    .hide-for-medium-down,
    .hide-for-large,
    .show-for-large-up,
    .show-for-xlarge {
        display: inherit!important;
    }
    .show-for-small,
    .show-for-medium,
    .show-for-medium-down,
    .show-for-large,
    .hide-for-large-up,
    .hide-for-xlarge {
        display: none!important;
    }
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {
    .hide-for-small,
    .show-for-medium,
    .show-for-medium-down,
    .hide-for-large,
    .hide-for-large-up,
    .hide-for-xlarge {
        display: inherit!important;
    }
    .show-for-small,
    .hide-for-medium,
    .hide-for-medium-down,
    .show-for-large,
    .show-for-large-up,
    .show-for-xlarge {
        display: none!important;
    }
}

@media only screen and (max-width: 767px) {
    .show-for-small,
    .hide-for-medium,
    .show-for-medium-down,
    .hide-for-large,
    .hide-for-large-up,
    .hide-for-xlarge {
        display: inherit!important;
    }
    .hide-for-small,
    .show-for-medium,
    .hide-for-medium-down,
    .show-for-large,
    .show-for-large-up,
    .show-for-xlarge {
        display: none!important;
    }

}

.show-for-landscape,
.hide-for-portrait {
    display: inherit!important;
}

.hide-for-landscape,
.show-for-portrait {
    display: none!important;
}

@media screen and (orientation: landscape) {
    .show-for-landscape,
    .hide-for-portrait {
        display: inherit!important;
    }
    .hide-for-landscape,
    .show-for-portrait {
        display: none!important;
    }
}

@media screen and (orientation: portrait) {
    .show-for-portrait,
    .hide-for-landscape {
        display: inherit!important;
    }
    .hide-for-portrait,
    .show-for-landscape {
        display: none!important;
    }
}

.show-for-touch {
    display: none!important;
}

.hide-for-touch {
    display: inherit!important;
}

.touch .show-for-touch {
    display: inherit!important;
}

.touch .hide-for-touch {
    display: none!important;
}

table.show-for-xlarge,
table.show-for-large,
table.hide-for-small,
table.hide-for-medium {
    display: table!important;
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {
    .touch table.hide-for-xlarge,
    .touch table.hide-for-large,
    .touch table.hide-for-small,
    .touch table.show-for-medium {
        display: table!important;
    }
}

@media only screen and (max-width: 767px) {
    table.hide-for-xlarge,
    table.hide-for-large,
    table.hide-for-medium,
    table.show-for-small {
        display: table!important;
    }
}

@media only screen and (max-device-width: 1280px) {}

@media only screen and (max-device-width: 800px),
only screen and (device-width: 1024px) and (device-height: 600px),
only screen and (width: 1280px) and (orientation: landscape),
only screen and (device-width: 800px),
only screen and (max-width: 767px) {
    .flex-video {
        padding-top: 0;
    }
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {}

@media only screen and (min-width: 960px) and (max-width: 480px) {
    .row .tablet-one {
        width: 25%!important;
        float: left;
        padding: 0 15px;
    }
    .row .tablet-one:last-child {
        float: right;
    }
    .row .tablet-one.end {
        float: left;
    }
    .row.collapse .tablet-one {
        padding: 0;
    }
    .row .tablet-two {
        width: 50%!important;
        float: left;
        padding: 0 15px;
    }
    .row .tablet-two:last-child {
        float: right;
    }
    .row .tablet-two.end {
        float: left;
    }
    .row.collapse .tablet-two {
        padding: 0;
    }
    .row .tablet-three {
        width: 75%!important;
        float: left;
        padding: 0 15px;
    }
    .row .tablet-three:last-child {
        float: right;
    }
    .row .tablet-three.end {
        float: left;
    }
    .row.collapse .tablet-three {
        padding: 0;
    }
    .row .tablet-four {
        width: 100%!important;
        float: left;
        padding: 0 15px;
    }
    .row .tablet-four:last-child {
        float: right;
    }
    .row .tablet-four.end {
        float: left;
    }
    .row.collapse .tablet-four {
        padding: 0;
    }
    .push-one-tablet {
        left: 25%;
    }
    .pull-one-tablet {
        right: 25%;
    }
    .push-two-tablet {
        left: 50%;
    }
    .pull-two-tablet {
        right: 50%;
    }
    .push-three-tablet {
        left: 75%;
    }
    .pull-three-tablet {
        right: 75%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .row {
        width: auto;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .column,
    .columns {
        width: auto!important;
        float: none;
    }
    .column:last-child,
    .columns:last-child {
        float: none;
    }
    [class*="column"]+[class*="column"]:last-child {
        float: none;
    }
    .column:before,
    .columns:before,
    .column:after,
    .columns:after {
        content: "";
        display: table;
    }
    .column:after,
    .columns:after {
        clear: both;
    }
    .offset-by-one,
    .offset-by-two,
    .offset-by-three,
    .offset-by-four,
    .offset-by-five,
    .offset-by-six,
    .offset-by-seven,
    .offset-by-eight,
    .offset-by-nine,
    .offset-by-ten {
        margin-left: 0!important;
    }
    .push-two,
    .push-three,
    .push-four,
    .push-five,
    .push-six,
    .push-seven,
    .push-eight,
    .push-nine,
    .push-ten {
        left: auto;
    }
    .pull-two,
    .pull-three,
    .pull-four,
    .pull-five,
    .pull-six,
    .pull-seven,
    .pull-eight,
    .pull-nine,
    .pull-ten {
        right: auto;
    }
    .row .mobile-one {
        width: 25%!important;
        float: left;
        padding: 0 15px;
    }
    .row .mobile-one:last-child {
        float: right;
    }
    .row .mobile-one.end {
        float: left;
    }
    .row.collapse .mobile-one {
        padding: 0;
    }
    .row .mobile-two {
        width: 50%!important;
        float: left;
        padding: 0 15px;
    }
    .row .mobile-two:last-child {
        float: right;
    }
    .row .mobile-two.end {
        float: left;
    }
    .row.collapse .mobile-two {
        padding: 0;
    }
    .row .mobile-three {
        width: 75%!important;
        float: left;
        padding: 0 15px;
    }
    .row .mobile-three:last-child {
        float: right;
    }
    .row .mobile-three.end {
        float: left;
    }
    .row.collapse .mobile-three {
        padding: 0;
    }
    .row .mobile-four {
        width: 100%!important;
        float: left;
        padding: 0 15px;
    }
    .row .mobile-four:last-child {
        float: right;
    }
    .row .mobile-four.end {
        float: left;
    }
    .row.collapse .mobile-four {
        padding: 0;
    }
    .push-one-mobile {
        left: 25%;
    }
    .pull-one-mobile {
        right: 25%;
    }
    .push-two-mobile {
        left: 50%;
    }
    .pull-two-mobile {
        right: 50%;
    }
    .push-three-mobile {
        left: 75%;
    }
    .pull-three-mobile {
        right: 75%;
    }
}