h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {}

a,
a:visited,
a:focus {
    transition: color 0.18s ease, background-color 0.18s ease, opacity 0.18s ease;
}

a:hover {}

html,
#page {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrap {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
    position: relative;
}

.lt-ie9 .wrap {
    background: url(images/trans.png);
}

#main {
    margin-bottom: 60px;
}

#header {
    position: relative;
    z-index: 5;
}

#header a,
#header a:visited {
    color: #FFF;
}

#header a:hover {
    opacity: 0.8;
}

#logo h1 {
    font-size: 30px;
    letter-spacing: -0.04em;
    margin: 0;
    line-height: 1;
}

#header .wrap {
    padding-bottom: 35px;
}

#nav {
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -0.04em;
}

#page {
    position: relative;
}

#nav {
    position: absolute;
    right: 15px;
    top: -5px;
}

#navigation li.appointment {
    position: relative;
    margin-right: 10px;
    padding-right: 11px;
}

#navigation li.appointment:after {
    position: absolute;
    right: 0;
    top: 12px;
    content: '';
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    height: 13px;
    line-height: 0;
}

#navigation .icon-reorder {
    margin-right: 5px;
}

#navigation a,
#navigation a:visited {}

#navigation a:hover,
#navigation .sfHover>a,
#navigation .sfHover>a:visited {}

#navigation>li>a,
#navigation>li>a:visited {
    padding: 5px 10px;
}

#navigation>li ul a,
#navigation>li ul a:visited {
    padding: 5px 10px;
}

#navigation>li ul a:hover,
#navigation>li ul .sfHover>a,
#navigation>li ul .sfHover>a:visited {}

#navigation>li ul a:hover{
    background: yellow;
    color: black;
}
#navigation>li.current_page_item>a,
#navigation>li.current_page_item>a:visited,
#navigation>li.current-menu-item>a,
#navigation>li.current-menu-item>a:visited,
#navigation>li.current-menu-ancestor>a,
#navigation>li.current-menu-ancestor>a:visited {}

#navigation li.menu>a:hover,
#navigation li.menu.sfHover>a {
    background: yellow;
    color: black;
    opacity: 1;
    border-radius: 4px 4px 0 0;
}

#navigation ul {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 12px 30px;
    font-size: 13px;
    border-radius: 0 0 4px 4px;
    left: auto;
    right: 0;
}

#navigation a.sf-with-ul {
    position: relative;
}

#navigation a:hover:after,
#navigation>.sfHover>a.sf-with-ul:after,
#navigation>.sfHover>a.sf-with-ul:visited {
    border-top-color: #FFF;
}

#navigation>li.current_page_item>a.sf-with-ul:after,
#navigation>li.current_page_item>a.sf-with-ul:visited:after,
#navigation>li.current-menu-item>a.sf-with-ul:after,
#navigation>li.current-menu-item>a.sf-with-ul:visited:after {
    border-top-color: #fff;
}

.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 45%;
    right: 18px;
    height: 0;
    width: 0;
    margin-top: 1px;
    border: 4px solid transparent;
    border-top-color: #727272;
}

.sf-arrows>li>.sf-with-ul:focus:after,
.sf-arrows>li:hover>.sf-with-ul:after,
.sf-arrows>.sfHover>.sf-with-ul:after {
    border-top-color: #202020;
}

.sf-arrows ul .sf-with-ul:after {
    margin-top: -2px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #202020;
    border-left-color: rgba(0, 0, 0, .5);
}

.sf-arrows ul>li .sf-with-ul:focus:after,
.sf-arrows ul>li:hover .sf-with-ul:after,
.sf-arrows ul>li.sfHover .sf-with-ul:after {
    border-left-color: #202020;
    border-top-color: transparent!important;
}

.slide-content {
    margin-top: 180px;
    padding: 0 40px;
}

.slide-content h1 {
    font-weight: 300;
    font-size: 60px;
    letter-spacing: -0.06em;
    line-height: 0.8;
    margin-bottom: 40px;
}

#slides {
    position: absolute!important;
    top: 0;
    left: 0;
}

.slides-pagination {
    display: none;
}

.featurette {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.featurette .item {
    margin-bottom: 0;
}

.featurette .wrap {
    border-bottom: none;
    padding-bottom: 20px;
}

.feat {
    position: relative;
}

.feat h3 {
    transition: all 0.18s ease;
}

.feat:hover>h3 {
    opacity: 0;
    visibility: hidden;
}

.feat a {
    position: relative;
}

.feat a>h3 {
    position: absolute;
    width: 100%;
    margin: 0 0 -10px 0;
    text-align: center;
    z-index: 10;
    bottom: 0;
    color: #FFF;
    opacity: 0;
    transition: all 0.3s ease;
}

.feat:hover a>h3 {
    bottom: 50%;
    opacity: 1;
    z-index: 10;
}

.slides-navigation {
    top: 50%;
}

.slides-navigation a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin: 0 25px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    top: -60px;
    padding: 1px;
    transition: background 0.15s ease;
    opacity: 0.7;
}

.slides-navigation a:hover {
    opacity: 1;
    color: #FFF;
}

#title {
    padding: 50px 30px;
}

#title h1 {
    font-weight: 300;
    font-size: 60px;
    letter-spacing: -0.04em;
    margin: 0;
    line-height: normal;
}

.entry {
    margin-bottom: 30px;
}

.entry-thumb {
    line-height: 0;
}

.entry-title {
    font-size: 24px;
    margin-bottom: 3px;
    letter-spacing: -0.04em;
}

.entry-title a,
.entry-title a:visited {
    color: #FFF;
}

.entry-title a:hover {
    opacity: 0.8;
}

.entry-meta {
    padding-bottom: 10px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.entry-excerpt {
    margin-bottom: 20px;
}

#pagination a,
#pagination a:visited,
#pagination span {
    padding: 10px 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #FFF;
    margin-right: 10px;
    font-size: 12px;
    transition: border-color 0.18s ease;
}

.lt-ie9 #pagination a,
.lt-ie9 #paginatoin span {
    border: 1px solid #fff;
}

#pagination span,
#pagination a:hover {
    border-color: #FFF;
    border-color: rgba(255, 255, 255, 0.3);
}

.single.entry .entry-thumb,
.single.entry .entry-meta {
    margin-bottom: 20px;
}

.entry-details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.entry-details li {
    float: left;
    margin-right: 15px;
    font-weight: 300;
}

.entry-details li span {
    font-weight: normal;
}

.offer-badge {
    position: absolute;
    top: 30px;
    right: 0;
    padding: 8px 20px 9px 15px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    z-index: 20;
    letter-spacing: -0.04em;
    line-height: normal;
}

.offer-badge:before {
    content: "";
    position: absolute;
    display: block;
    border: 1.41em solid #941742;
    bottom: 0;
    left: -1.3em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    border-radius: 5px;
    z-index: -1;
}

.item {
    margin-bottom: 30px;
}

.item-thumb {
    margin-bottom: 10px;
    overflow: hidden;
    line-height: 0;
}

.item h3,
.item h4 {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: -0.04em;
}

.item h3 {
    font-size: 18px;
}

.item h4 {
    font-size: 12px;
}

.item-thumb a {
    position: relative;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.18s ease;
}

.item a:hover .overlay {
    opacity: 1;
}

.overlay.zoom:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    content: "\f00e";
    position: absolute;
    font-size: 30px;
    top: 200%;
    left: 50%;
    color: #FFF;
    margin-top: -30px;
    margin-left: -15px;
    opacity: 0;
    transition: top 0.2s ease, opacity 0.7s ease;
}

.item a:hover .overlay.zoom:after {
    top: 55%;
    opacity: 1;
    line-height: normal;
}

#footer .wrap {
    border-bottom: none;
}

#footer a,
#footer a:visited {
    color: #FFF;
}

#footer a:hover {
    opacity: 0.8;
}

.subnav {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 15px;
}

.subnav li {
    float: left;
    margin-left: 25px;
}

.subnav li a {
    text-transform: uppercase;
    letter-spacing: -0.045em;
}

#map {
    width: 100%;
    height: 340px;
}

.map .wrap {
    margin: 0 0 40px 0;
}

form.contact input[type=text],
form.contact input[type=email],
form.contact textarea {
    margin-bottom: 10px;
}

form.contact label {
    margin-bottom: 6px;
}

#done {
    display: none;
}

form.contact input.highlight {
    border-color: red;
}

.widget {
    margin-bottom: 30px;
}

.widget a,
.widget a:visited {
    color: #FFF;
}

#sidebar .widget:last-child {
    margin-bottom: 0;
}

.widget-title {
    font-size: 24px;
    letter-spacing: -0.04em;
    font-weight: 400;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget ul li {
    margin-bottom: 4px;
}

.widget ul li:last-of-type {
    margin-bottom: 0;
}

a.social,
a.social:visited {
    font-size: 16px;
    padding: 14px;
    transition: 0.2s;
    line-height: 0;
    margin-right: 5px;
    display: inline-block;
    border-radius: 300px;
    border: 3px solid #FFF;
    opacity: 0.8;
}

a.social i {
    border-radius: 50px;
    height: 34px!important;
    width: 34px!important;
}

a.social.facebook {
    font-size: 15px;
    padding: 15px 19px;
}

a.social:hover {
    opacity: 1;
}

#ads125,
.ads125 {
    margin: 0;
    padding: 0;
    list-style: none;
}

#ads125 li,
.ads125 li {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    float: left;
    margin: 0 15px 10px 0;
    padding: 0;
    max-width: 125px;
}

.searchform {
    line-height: 1;
    position: relative;
}

.searchform>div {
    position: relative;
    line-height: 1;
}

.searchform .screen-reader-text {
    display: none;
}

.searchform input[type=text] {
    border-radius: 30px;
    margin: 0;
    width: 100%;
    font: inherit;
    line-height: 1;
    height: 38px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.55);
    color: #FFF;
}

.searchsubmit {
    font-size: 12px;
    line-height: 1;
    padding: 2px 25px 2px 20px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 30px 30px 0;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-left: none;
    height: 100%;
    color: #FFF;
    text-transform: uppercase;
}

.searchsubmit:hover {}

.searchsubmit:active {}

#comments h3 {
    margin: 0 0 30px 30px;
}

ol#comment-list {
    margin: 0;
}

.post-comments .wrap {}

.comment-meta {
    font-size: 11px;
    padding-bottom: 9px;
    margin-bottom: 15px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.comment-meta a,
.comment-meta a:visited {
    display: block;
    color: #FFf;
    font-size: 18px;
}

.post-comments {
    margin: 40px 0 0 0;
}

.post-comments h2 {}

.post-comments ol,
.post-comments ul {
    list-style: none;
    font-size: inherit;
}

.post-comments>ol {
    margin-left: 0;
    margin-bottom: 0;
}

.post-comments li {
    margin: 0!important;
    padding: 0!important;
    background: none!important;
    position: relative;
}

.post-comments .avatar {
    float: left;
    top: 0;
    left: 0;
    margin: 0 15px 5px 0;
    text-align: center;
}

.post-comments .comment-text {
    margin-bottom: 30px;
}

.post-comments>.comment-text:last-child {
    margin-bottom: 0;
}

.post-comments .comment-copy {
    margin-left: 80px;
    padding: 0;
    font-size: 13px;
}

.post-comments .comment-copy p {
    margin-bottom: 10px;
}

.comment-reply-link:hover,
.btn-reply:hover {}

#cancel-comment-reply-link {
    display: block;
    font-size: 12px;
    margin: -20px 0 15px 30px;
}

a.comment-reply-link {
    line-height: normal;
    margin-top: 10px;
    display: inline-block;
    font-size: 10px;
    color: #FFF;
}

a.comment-reply-link:hover {
    background: #FFF;
    color: #000;
}

#cancel-comment-reply-link:hover {}

#comment-list #respond {
    margin-bottom: 30px;
}

.pp_inline label {
    display: inline;
}

#form-wrapper {
    margin: 40px 0 0 0;
}

#form-wrapper h2 {}

#form-wrapper form {
    margin-bottom: 0;
}

.post-form label {
    display: block;
    padding-bottom: 5px;
}

.post-form input[type=text] {
    width: 50%;
}

.post-form input[type=submit] {
    margin-bottom: 0;
}

.post-form textarea {
    width: 90%;
    height: 200px;
}

#post-action {
    margin-bottom: 0;
}

.post-form input[type=text],
.post-form input[type=email],
.post-form textarea {}

.flickr_badge_image {
    float: left;
    margin: 0 15px 15px 0;
}

.flickr_badge_image a {
    display: block;
    line-height: 0;
}

.flickr_badge_image a:hover {}

.widget_about {
    margin-top: -5px;
}

.widget_ci_about .alignleft {
    float: left;
    margin: 5px 10px 6px 0;
}

.widget_about .alignright {
    float: right;
    margin: 5px 0 6px 10px;
}

.widget_text p:last-child {
    margin-bottom: 0;
}

.widget_ci_twitter_widget ul li {
    margin-bottom: 12px;
}

.widget_ci_twitter_widget .twitter-time {
    display: block;
    font-size: 0.85em;
}

#wp-calendar {
    width: 100%;
}

#wp-calendar caption {
    text-align: left;
    margin-top: 10px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
    padding: 9px;
}

#wp-calendar thead {
    font-size: 10px;
}

#wp-calendar thead th {
    background: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    padding: 8px;
}

#wp-calendar tbody {}

#wp-calendar tbody td {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 3px;
}

#wp-calendar tbody td:hover {
    background: rgba(0, 0, 0, 0.1);
}

#wp-calendar tbody .pad {
    background: none;
}

#wp-calendar tfoot #next {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}

#wp-calendar tfoot #prev {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
}

#wp-calendar a {
    font-weight: bold;
    font-style: italic;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    border-radius: 30px;
    margin: 0;
    width: 100%;
    font: inherit;
    line-height: 1;
    height: 38px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.35);
    color: #FFF;
    transition: all 0.18s ease;
}

textarea {
    height: auto;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 1);
}

textarea {
    border-radius: 20px;
}

a.btn,
a.btn:visited,
input[type=submit].btn,
button.btn,
.comment-reply-link {
    line-height: normal;
    font-size: inherit;
    border: 2px solid #FFF;
    border-radius: 40px;
    vertical-align: middle;
    padding: 6px 35px;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    -webkit-transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
    -moz-transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
    -ms-transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
    -o-transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
    transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
}

a.btn:hover,
input[type=submit].btn:hover,
button.btn:hover {
    background: #FFF;
}

a.btn:active,
input[type=submit].btn:active,
button.btn:active {
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.17);
}

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer,
.fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image,
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background-image: url(images/fancybox/fancybox_sprite.png);
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(images/fancybox/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(images/fancybox/blank.gif);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible!important;
}

.fancybox-lock {
    overflow: hidden!important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden!important;
}

.fancybox-lock-test {
    overflow-y: hidden!important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url(images/fancybox/fancybox_overlay.png);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading,
    .fancybox-close,
    .fancybox-prev span,
    .fancybox-next span {
        background-image: url(images/fancybox/fancybox_sprite@2x.png);
        background-size: 44px 152px;
    }
    #fancybox-loading div {
        background-image: url(images/fancybox/fancybox_loading@2x.gif);
        background-size: 24px 24px;
    }
}
@media only screen and (max-width: 700px) {
    #navigation ul{
    position: relative !important;
}
    #navigation ul {
        position: relative;
        z-index: 300;
        top: -999em;
    }
}